.input-checkbox {
  .checkbox-wrapper {
    display: inline-block;
    margin-right: 20px;
    display: inline-flex;
    align-items: center;
    * {
      cursor: pointer;
    }
    label {
      margin: 0;
    }
    input[type="checkbox"] {
      margin-right: 5px;
      appearance: none;
      height: 20px;
      width: 20px;
      border: $input-border-width solid $input-border-color;
      border-radius: $input-border-radius;
      outline: none;
      &:focus {
        border-color: $input-border-color-dark;
      }
      &:checked {
        background-color: $primary-color;
        border-color: $primary-color;
        & + label {
          position: relative;
          &:after {
            content: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAApklEQVRIS+2u0q2eibaf53vgj3claov318hzir2s2uqniepc1d/4jpbmgrbew0mp59maoegmcdprga8wsrpyz5cujefv4cepvw2qhy9al2m6bvaa7rbdrwb2bwwy8qpqwipac3dqbqknpwn4z3ybdbk49w7xcz10xnwhs7upxpdwhr+eYK0ig/h0ceVrRvgOEojv2W3Fsw8pBIS/WbCgAUKDTVGoaAbVdEgZ6zcjOAAAAABJRU5ErkJggg==);
            position: absolute;
            left: -20px;
            transform: scale3d(0.8, 0.8, 0.8);
            left: -27px;
            top: -1px;
          }
        }
      }
    }
  }
}
