.react-forms-template {
  margin-bottom: $template-margin-bottom;
  &.dir-horizontal {
    display: inline-block;
    margin-right: $template-margin-right;
  }
  &:last-child {
    margin-bottom: 0;
  }
  .react-forms-label {
    margin-bottom: $template-label-margin-bottom;
    .optional {
      display: inline-block;
      margin-left: 5px;
      opacity: 0.5;
      font-size: 12px;
    }
  }
  .help-text-trigger {
    display: inline-block;
    margin-left: 5px;
    opacity: 0.5;
    cursor: help;
  }
  .react-forms-field {
    position: relative;
    .error {
      position: absolute;
      font-size: 12px;
      padding: 3px 10px;
      border-radius: 4px;
      color: $template-error-font-color;
      background-color: $template-error-background;
      bottom: -30px;
      opacity: 0;
      pointer-events: none;
      // @include transition(opacity);
      &.is-error {
        opacity: 1;
        pointer-events: all;
      }
      &:before {
        position: absolute;
        bottom: 100%;
        left: 10px;
        z-index: 15;
        width: 0;
        height: 0;
        pointer-events: none;
        content: " ";
        border: solid transparent;
        border-bottom-color: $template-error-background;
      }
    }
  }
}
